@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --body-bg: #151b3c;
    --cloud-bg: #8e8e8e;
	
    
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border:1px solid black ; */
}


body {
    height: 100vh;
    display:grid;
    place-items: center;
    /* background: linear-gradient( to right, rgba(0,0,0,0.3), rgba(0,0,0,1)), url(https://source.unsplash.com/random) no-repeat center/cover  */
   background-color: burlywood;
}

.main{
  
}
.main__heart{
    position: relative;
    margin: auto;
    height: 170px;
    width: 200px;
    transition: all 1s;
    animation: animate 1.5s 3s infinite;
    
  
}
.main__heart::before,.main__heart::after {
    content: '';
    position: absolute;
    background: #d63031;
    width:  100px;
    height: 160px;
   
}
.main__heart::before {
    left: 100px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    border-radius: 50px 50px 0;
    box-shadow:  0px 20px 28px  rgba(0, 0, 0, 0.25),
    0px 10px 10px  rgba(0, 0, 0, 0.22)      ;
}
.main__heart::after {
    left: 0;
    background-color: #d63031;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    border-radius: 50px 50px 0;
}

@keyframes animate {
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(.8);
    }
    60%{
        transform: scale(1.2);
    }
    10%{
        transform: scale(1);
    }
}